In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("C:/Users/Hosna/Documents/GitHub/house-price-htav/Data/train.csv", index_col = 0)

In [4]:
train.isnull().sum(0)

MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 80, dtype: int64

In [9]:
train.Alley.value_counts(dropna = False)

NaN     1369
Grvl      50
Pave      41
Name: Alley, dtype: int64

In [11]:
pd.get_dummies(train.BsmtQual, dummy_na=True)

      Ex  Fa  Gd  TA  NaN
Id
1      0   0   1   0    0
2      0   0   1   0    0
3      0   0   1   0    0
4      0   0   0   1    0
5      0   0   1   0    0
6      0   0   1   0    0
7      1   0   0   0    0
8      0   0   1   0    0
9      0   0   0   1    0
10     0   0   0   1    0
11     0   0   0   1    0
12     1   0   0   0    0
13     0   0   0   1    0
14     0   0   1   0    0
15     0   0   0   1    0
16     0   0   0   1    0
17     0   0   0   1    0
18     0   0   0   0    1
19     0   0   0   1    0
20     0   0   0   1    0
21     1   0   0   0    0
22     0   0   0   1    0
23     0   0   1   0    0
24     0   0   1   0    0
25     0   0   0   1    0
26     0   0   1   0    0
27     0   0   0   1    0
28     1   0   0   0    0
29     0   0   0   1    0
30     0   0   0   1    0
...   ..  ..  ..  ..  ...
1431   0   0   1   0    0
1432   0   0   1   0    0
1433   0   0   0   1    0
1434   0   0   1   0    0
1435   0   0   0   1    0
1436   0   0   0   1    0
1437   0   0   0   1    0
1438   1   0   0   0    0
1439   0   0   0   1    0
1440   0   0   0   1    0
1441   1   0   0   0    0
1442   0   0   1   0    0
1443   1   0   0   0    0
1444   0   0   0   1    0
1445   0   0   1   0    0
1446   0   0   0   1    0
1447   0   0   0   1    0
1448   0   0   1   0    0
1449   0   1   0   0    0
1450   0   0   1   0    0
1451   0   0   1   0    0
1452   0   0   1   0    0
1453   0   0   1   0    0
1454   0   0   1   0    0
1455   0   0   1   0    0
1456   0   0   1   0    0
1457   0   0   1   0    0
1458   0   0   0   1    0
1459   0   0   0   1    0
1460   0   0   0   1    0

[1460 rows x 5 columns]

In [13]:
df = train.groupby('Alley')

In [15]:
df.mean()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
Alley,,,,,,,,,,,,,,,,,,,,,
Grvl,63.900000,61.744681,8932.500000,5.180000,6.260000,1919.740000,1972.520000,17.500,144.160000,27.14,...,50.520000,52.620000,75.060000,0.0,9.600000,0.0,58.0,6.26000,2007.660000,122219.080000
Pave,102.804878,46.666667,5953.121951,6.414634,5.439024,1968.317073,1993.780488,133.175,233.585366,0.00,...,23.902439,75.853659,51.341463,0.0,10.195122,0.0,0.0,5.97561,2007.804878,168000.585366

In [17]:
train.loc[1:10,['SalePrice', 'Alley']]

    SalePrice Alley
Id
1      208500   NaN
2      181500   NaN
3      223500   NaN
4      140000   NaN
5      250000   NaN
6      143000   NaN
7      307000   NaN
8      200000   NaN
9      129900   NaN
10     118000   NaN